$name :     'hfiler' !default;
.#{$name}-cube{
  .#{$name}-dir,.#{$name}-file{
    position: relative;
    width: 160px;
    height: 160px;
    margin: 16px;
  }
  .#{$name}-file{
    .#{$name}-file-name{
      .#{$name}-file-name--icon{
        display: block;
        position: relative;
        width: 120px;
        height: 100px;
        text-align: center;
        >img{
          max-width: 100%;
          height: 90px;
          vertical-align: middle;
        }
        .rz{
          position: absolute;
          width: 20px;
          height: 20px;
          bottom: 0;
          right: 16px;
          &.only{
            bottom: 0;
            right:-8px;
          }
        }
        .gs{
          position: absolute;
          width: 20px;
          height: 20px;
          bottom: 0;
          right:  -12px;
          &.only{
            bottom:0;
            right:-12px;
          }
        }
        .new{
          position: absolute;
          width: 20px;
          height: 20px;
          top:-8px;
          right: -8px;
        }
      }
    }
  }
  .#{$name}-dir,.#{$name}-file{
    .#{$name}-dir-name,.#{$name}-file-name{
      >input{
        display: inline-block;
        height: 36px \9;
        line-height: 26px;
        padding: 4px 6px;
        font-size: 14px;
        vertical-align: middle;
        -webkit-transition: all ease-in .3s;
        transition: all ease-in .3s;

        border: none;
        background: transparent;
        box-shadow: none;
        border-bottom: 1px dashed #999;
        text-align: center;
        color: #999;
      }
      >a{
        display: block;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
      }
      .#{$name}-dir-name--icon{
        width: 120px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        background-image: url(../images/dir.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 107px auto;
      }
      .#{$name}-dir-name--link,.#{$name}-file-name--link{
        color: #666;
        text-decoration: none;
        &:hover{
          color: #0c7cd5;
        }
      }
    }
    .#{$name}-dir-tools,.#{$name}-file-tools{
      position: absolute;
      z-index: 9999;
      top:130px;
      left: 50%;
      margin-left: -113px;
      width: 226px;
      display: none;
      padding: 2px;
      text-align: left;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
      >a{
        display: inline-block;
        padding: 6px;
        text-decoration: none;
        font-size: 12px;
        color: #0c7cd5;
        cursor: pointer;
        &:hover{
          color: #2e69d5;
        }
      }
      >.hfiler-dir-tools--props,>.#{$name}-file-tools--props{
        >a{
          display: block;
          padding: 6px;
          text-decoration: none;
          text-align: left;
          font-size: 12px;
          color: #666;
          cursor: pointer;
          &:hover{
            color: #333;
          }
          >span{
            font-size: 12px;
            margin-left: 8px;
          }
        }
      }
    }
    .#{$name}-dir-create{
      padding: 4px;
      text-align: center;
      >a{
        padding: 0 8px;
        text-decoration: none;
        cursor: pointer;
      }
    }
    &.#{$name}-dir--empty{
      .#{$name}-dir-name{
        .#{$name}-dir-name--icon{
          background-image: url(../images/dir-empty.png);
        }
      }
    }
  }
}
//list
.#{$name}-list{
  .wd-utils-left{
    float: none;
  }
  .#{$name}-dir,.#{$name}-file{
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #ddd;
    &:hover{
      background-color: #fafafa;
    }
  }
  .#{$name}-dir,.#{$name}-file{
    position: relative;
    .#{$name}-dir-name,.#{$name}-file-name{
      position: relative;
      >a{
        display: block;
        >img{
          width: 36px;
          height: 36px;
        }
        &.#{$name}-dir-name--icon,&.#{$name}-file-name--icon{
          position: absolute;
          top:50%;
          left: 8px;
          margin-top: -18px;
          width: 36px;
          height: 36px;
          vertical-align: middle;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100% auto;
        }
        &.#{$name}-dir-name--icon{
          background-image: url(../images/dir.png);
        }
        &.#{$name}-dir-name--link,&.#{$name}-file-name--link{
          padding-left: 64px;
          text-decoration: none;
          color: #666;
          cursor: pointer;
        }
      }
    }
    .#{$name}-dir-tools,.#{$name}-file-tools{
      display: none;
      position: absolute;
      top:50%;
      margin-top: -28px;
      right: 8px;
      z-index: 999;
      >a{
        margin: 0 8px;
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
        color: #0c7cd5;
        cursor: pointer;
        &:hover{
          color: #2e69d5;
        }
      }
      .hfiler-dir-tools--props,.hfiler-file-tools--props{
        display: none;
        >a{
          margin: 0 8px;
          display: inline-block;
          text-decoration: none;
          font-size: 12px;
          color: #0c7cd5;
          cursor: pointer;
          &:hover{
            color: #2e69d5;
          }
          >span{
            font-size: 12px;
            margin-left: 8px;
          }
          >img{
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 8px;
          }
        }
      }

    }
    &.#{$name}-dir--empty{
      .#{$name}-dir-name{
        .#{$name}-dir-name--icon{
          background-image: url(../images/dir-empty.png);
        }
      }
    }
  }
}