doctype html
html(lang="en")
    head
        block title
        block link
        meta(charset='utf-8' name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
        script(src='https://cdn.bootcss.com/react/15.4.0/react.min.js')
        script(src='https://cdn.bootcss.com/react/15.4.0/react-dom.min.js')
    body
        block content
