body {
    background-color: #F4F4F4;
}
.hbox {
    background-color: #FFFFFF;
    border: 1px solid #ddd \9;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hbox::selection,.hbox-content::selection,.hbox-title > h4::selection,.hbox-footer > .hbox-btn::selection{
    background-color: red;
    color: #fff;
}
.hbox-title {
    position: relative;
    padding: 24px 24px 0 24px;
}
.hbox-title:hover{
    cursor: move;
}
.hbox-title h3 {
    margin-bottom: 8px;
}
.hbox-title .hbox-close-icon{
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    right: 12px;
    top:24px;
    background: url(../images/icon_close.jpg)no-repeat center center;
    cursor: pointer;
}
.hbox-content {
    padding: 0 24px 24px 24px;
}

.hbox-footer {
    text-align: right;
    padding: 0 16px 16px 16px;
}
.hbox-footer .hbox-btn{
    display: inline-block;
    zoom: 1;
    padding: 0 16px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    min-height: 34px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
}
.hbox-footer .hbox-btn:hover {
    text-decoration: none;
    color: #2196F3;
    background-color: transparent;
}