.hfiler-cube .hfiler-dir, .hfiler-cube .hfiler-file {
  width: 140px;
  height: 160px;
  margin: 0 16px 16px; }

.hfiler-cube .hfiler-dir .hfiler-dir-name > a {
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer; }

.hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-dir-name--icon {
  width: 120px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-image: url(../images/dir.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 107px auto; }

.hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-dir-name--link {
  color: #666;
  text-decoration: none; }
  .hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-dir-name--link:hover {
    color: #0c7cd5; }

.hfiler-cube .hfiler-dir .hfiler-dir-tools {
  margin: 8px auto;
  text-align: center; }
  .hfiler-cube .hfiler-dir .hfiler-dir-tools > a {
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    color: #0c7cd5;
    cursor: pointer; }
    .hfiler-cube .hfiler-dir .hfiler-dir-tools > a:hover {
      color: #2e69d5; }

.hfiler-cube .hfiler-dir.hfiler-dir--empty .hfiler-dir-name .hfiler-dir-name--icon {
  background-image: url(../images/dir-empty.png); }

.hfiler-list .hfiler-dir, .hfiler-list .hfiler-file {
  float: none;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #ddd; }
  .hfiler-list .hfiler-dir:first-child, .hfiler-list .hfiler-file:first-child {
    border-top: 1px solid #ddd; }
  .hfiler-list .hfiler-dir:hover, .hfiler-list .hfiler-file:hover {
    background-color: #f6f6f6; }

.hfiler-list .hfiler-dir {
  position: relative; }
  .hfiler-list .hfiler-dir .hfiler-dir-name {
    position: relative; }
    .hfiler-list .hfiler-dir .hfiler-dir-name > a {
      display: block; }
      .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-dir-name--icon {
        position: absolute;
        top: 50%;
        left: 8px;
        margin-top: -18px;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        background-image: url(../images/dir.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto; }
      .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-dir-name--link {
        padding-left: 64px;
        text-decoration: none;
        color: #666;
        cursor: pointer; }
  .hfiler-list .hfiler-dir .hfiler-dir-tools {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    right: 8px;
    z-index: 999; }
    .hfiler-list .hfiler-dir .hfiler-dir-tools > a {
      margin: 0 8px;
      display: inline-block;
      text-decoration: none;
      font-size: 12px;
      color: #0c7cd5;
      cursor: pointer; }
      .hfiler-list .hfiler-dir .hfiler-dir-tools > a:hover {
        color: #2e69d5; }
  .hfiler-list .hfiler-dir.hfiler-dir--empty .hfiler-dir-name .hfiler-dir-name--icon {
    background-image: url(../images/dir-empty.png); }
