.hfiler-cube .hfiler-dir, .hfiler-cube .hfiler-file {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 16px; }

.hfiler-cube .hfiler-file .hfiler-file-name .hfiler-file-name--icon {
  width: 120px;
  height: 100px;
  text-align: center;
  overflow: hidden; }
  .hfiler-cube .hfiler-file .hfiler-file-name .hfiler-file-name--icon > img {
    max-width: 100%;
    height: 90px;
    vertical-align: middle; }

.hfiler-cube .hfiler-dir .hfiler-dir-name > input, .hfiler-cube .hfiler-dir .hfiler-file-name > input, .hfiler-cube .hfiler-file .hfiler-dir-name > input, .hfiler-cube .hfiler-file .hfiler-file-name > input {
  border: none;
  background: transparent;
  box-shadow: none;
  border-bottom: 1px dashed #666;
  text-align: center;
  color: #666; }

.hfiler-cube .hfiler-dir .hfiler-dir-name > a, .hfiler-cube .hfiler-dir .hfiler-file-name > a, .hfiler-cube .hfiler-file .hfiler-dir-name > a, .hfiler-cube .hfiler-file .hfiler-file-name > a {
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer; }

.hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-dir-name--icon, .hfiler-cube .hfiler-dir .hfiler-file-name .hfiler-dir-name--icon, .hfiler-cube .hfiler-file .hfiler-dir-name .hfiler-dir-name--icon, .hfiler-cube .hfiler-file .hfiler-file-name .hfiler-dir-name--icon {
  width: 120px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-image: url(../images/dir.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 107px auto; }

.hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-dir-name--link, .hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-file-name--link, .hfiler-cube .hfiler-dir .hfiler-file-name .hfiler-dir-name--link, .hfiler-cube .hfiler-dir .hfiler-file-name .hfiler-file-name--link, .hfiler-cube .hfiler-file .hfiler-dir-name .hfiler-dir-name--link, .hfiler-cube .hfiler-file .hfiler-dir-name .hfiler-file-name--link, .hfiler-cube .hfiler-file .hfiler-file-name .hfiler-dir-name--link, .hfiler-cube .hfiler-file .hfiler-file-name .hfiler-file-name--link {
  color: #666;
  text-decoration: none; }
  .hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-dir-name--link:hover, .hfiler-cube .hfiler-dir .hfiler-dir-name .hfiler-file-name--link:hover, .hfiler-cube .hfiler-dir .hfiler-file-name .hfiler-dir-name--link:hover, .hfiler-cube .hfiler-dir .hfiler-file-name .hfiler-file-name--link:hover, .hfiler-cube .hfiler-file .hfiler-dir-name .hfiler-dir-name--link:hover, .hfiler-cube .hfiler-file .hfiler-dir-name .hfiler-file-name--link:hover, .hfiler-cube .hfiler-file .hfiler-file-name .hfiler-dir-name--link:hover, .hfiler-cube .hfiler-file .hfiler-file-name .hfiler-file-name--link:hover {
    color: #0c7cd5; }

.hfiler-cube .hfiler-dir .hfiler-dir-tools, .hfiler-cube .hfiler-dir .hfiler-file-tools, .hfiler-cube .hfiler-file .hfiler-dir-tools, .hfiler-cube .hfiler-file .hfiler-file-tools {
  position: absolute;
  z-index: 9999;
  top: 130px;
  left: 50%;
  margin-left: -113px;
  width: 226px;
  display: none;
  padding: 2px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12); }
  .hfiler-cube .hfiler-dir .hfiler-dir-tools > a, .hfiler-cube .hfiler-dir .hfiler-file-tools > a, .hfiler-cube .hfiler-file .hfiler-dir-tools > a, .hfiler-cube .hfiler-file .hfiler-file-tools > a {
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    color: #0c7cd5;
    cursor: pointer; }
    .hfiler-cube .hfiler-dir .hfiler-dir-tools > a:hover, .hfiler-cube .hfiler-dir .hfiler-file-tools > a:hover, .hfiler-cube .hfiler-file .hfiler-dir-tools > a:hover, .hfiler-cube .hfiler-file .hfiler-file-tools > a:hover {
      color: #2e69d5; }
  .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-dir-tools--props > a, .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-file-tools--props > a, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-dir-tools--props > a, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-file-tools--props > a, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-dir-tools--props > a, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-file-tools--props > a, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-dir-tools--props > a, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-file-tools--props > a {
    display: block;
    padding: 6px;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    color: #666;
    cursor: pointer; }
    .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-dir-tools--props > a:hover, .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-file-tools--props > a:hover, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-dir-tools--props > a:hover, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-file-tools--props > a:hover, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-dir-tools--props > a:hover, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-file-tools--props > a:hover, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-dir-tools--props > a:hover, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-file-tools--props > a:hover {
      color: #333; }
    .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-dir-tools--props > a > span, .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-file-tools--props > a > span, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-dir-tools--props > a > span, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-file-tools--props > a > span, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-dir-tools--props > a > span, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-file-tools--props > a > span, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-dir-tools--props > a > span, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-file-tools--props > a > span {
      font-size: 12px;
      margin-left: 8px; }
    .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-dir-tools--props > a > img, .hfiler-cube .hfiler-dir .hfiler-dir-tools > .hfiler-file-tools--props > a > img, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-dir-tools--props > a > img, .hfiler-cube .hfiler-dir .hfiler-file-tools > .hfiler-file-tools--props > a > img, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-dir-tools--props > a > img, .hfiler-cube .hfiler-file .hfiler-dir-tools > .hfiler-file-tools--props > a > img, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-dir-tools--props > a > img, .hfiler-cube .hfiler-file .hfiler-file-tools > .hfiler-file-tools--props > a > img {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 8px; }

.hfiler-cube .hfiler-dir .hfiler-dir-create, .hfiler-cube .hfiler-file .hfiler-dir-create {
  padding: 4px;
  text-align: center; }
  .hfiler-cube .hfiler-dir .hfiler-dir-create > a, .hfiler-cube .hfiler-file .hfiler-dir-create > a {
    padding: 8px;
    text-decoration: none;
    cursor: pointer; }

.hfiler-cube .hfiler-dir.hfiler-dir--empty .hfiler-dir-name .hfiler-dir-name--icon, .hfiler-cube .hfiler-file.hfiler-dir--empty .hfiler-dir-name .hfiler-dir-name--icon {
  background-image: url(../images/dir-empty.png); }

.hfiler-list .wd-utils-left {
  float: none; }

.hfiler-list .hfiler-dir, .hfiler-list .hfiler-file {
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #ddd; }
  .hfiler-list .hfiler-dir:hover, .hfiler-list .hfiler-file:hover {
    background-color: #fafafa; }

.hfiler-list .hfiler-dir, .hfiler-list .hfiler-file {
  position: relative; }
  .hfiler-list .hfiler-dir .hfiler-dir-name, .hfiler-list .hfiler-dir .hfiler-file-name, .hfiler-list .hfiler-file .hfiler-dir-name, .hfiler-list .hfiler-file .hfiler-file-name {
    position: relative; }
    .hfiler-list .hfiler-dir .hfiler-dir-name > a, .hfiler-list .hfiler-dir .hfiler-file-name > a, .hfiler-list .hfiler-file .hfiler-dir-name > a, .hfiler-list .hfiler-file .hfiler-file-name > a {
      display: block; }
      .hfiler-list .hfiler-dir .hfiler-dir-name > a > img, .hfiler-list .hfiler-dir .hfiler-file-name > a > img, .hfiler-list .hfiler-file .hfiler-dir-name > a > img, .hfiler-list .hfiler-file .hfiler-file-name > a > img {
        width: 36px;
        height: 36px; }
      .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-file-name--icon, .hfiler-list .hfiler-dir .hfiler-file-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-dir .hfiler-file-name > a.hfiler-file-name--icon, .hfiler-list .hfiler-file .hfiler-dir-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-file .hfiler-dir-name > a.hfiler-file-name--icon, .hfiler-list .hfiler-file .hfiler-file-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-file .hfiler-file-name > a.hfiler-file-name--icon {
        position: absolute;
        top: 50%;
        left: 8px;
        margin-top: -18px;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto; }
      .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-dir .hfiler-file-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-file .hfiler-dir-name > a.hfiler-dir-name--icon, .hfiler-list .hfiler-file .hfiler-file-name > a.hfiler-dir-name--icon {
        background-image: url(../images/dir.png); }
      .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-dir-name--link, .hfiler-list .hfiler-dir .hfiler-dir-name > a.hfiler-file-name--link, .hfiler-list .hfiler-dir .hfiler-file-name > a.hfiler-dir-name--link, .hfiler-list .hfiler-dir .hfiler-file-name > a.hfiler-file-name--link, .hfiler-list .hfiler-file .hfiler-dir-name > a.hfiler-dir-name--link, .hfiler-list .hfiler-file .hfiler-dir-name > a.hfiler-file-name--link, .hfiler-list .hfiler-file .hfiler-file-name > a.hfiler-dir-name--link, .hfiler-list .hfiler-file .hfiler-file-name > a.hfiler-file-name--link {
        padding-left: 64px;
        text-decoration: none;
        color: #666;
        cursor: pointer; }
  .hfiler-list .hfiler-dir .hfiler-dir-tools, .hfiler-list .hfiler-dir .hfiler-file-tools, .hfiler-list .hfiler-file .hfiler-dir-tools, .hfiler-list .hfiler-file .hfiler-file-tools {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    right: 8px;
    z-index: 999; }
    .hfiler-list .hfiler-dir .hfiler-dir-tools > a, .hfiler-list .hfiler-dir .hfiler-file-tools > a, .hfiler-list .hfiler-file .hfiler-dir-tools > a, .hfiler-list .hfiler-file .hfiler-file-tools > a {
      margin: 0 8px;
      display: inline-block;
      text-decoration: none;
      font-size: 12px;
      color: #0c7cd5;
      cursor: pointer; }
      .hfiler-list .hfiler-dir .hfiler-dir-tools > a:hover, .hfiler-list .hfiler-dir .hfiler-file-tools > a:hover, .hfiler-list .hfiler-file .hfiler-dir-tools > a:hover, .hfiler-list .hfiler-file .hfiler-file-tools > a:hover {
        color: #2e69d5; }
    .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-dir-tools--props, .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-file-tools--props, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-dir-tools--props, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-file-tools--props, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-dir-tools--props, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-file-tools--props, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-dir-tools--props, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-file-tools--props {
      display: none; }
      .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-dir-tools--props > a, .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-file-tools--props > a, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-dir-tools--props > a, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-file-tools--props > a, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-dir-tools--props > a, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-file-tools--props > a, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-dir-tools--props > a, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-file-tools--props > a {
        margin: 0 8px;
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
        color: #0c7cd5;
        cursor: pointer; }
        .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-dir-tools--props > a:hover, .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-file-tools--props > a:hover, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-dir-tools--props > a:hover, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-file-tools--props > a:hover, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-dir-tools--props > a:hover, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-file-tools--props > a:hover, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-dir-tools--props > a:hover, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-file-tools--props > a:hover {
          color: #2e69d5; }
        .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-dir-tools--props > a > span, .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-file-tools--props > a > span, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-dir-tools--props > a > span, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-file-tools--props > a > span, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-dir-tools--props > a > span, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-file-tools--props > a > span, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-dir-tools--props > a > span, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-file-tools--props > a > span {
          font-size: 12px;
          margin-left: 8px; }
        .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-dir-tools--props > a > img, .hfiler-list .hfiler-dir .hfiler-dir-tools .hfiler-file-tools--props > a > img, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-dir-tools--props > a > img, .hfiler-list .hfiler-dir .hfiler-file-tools .hfiler-file-tools--props > a > img, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-dir-tools--props > a > img, .hfiler-list .hfiler-file .hfiler-dir-tools .hfiler-file-tools--props > a > img, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-dir-tools--props > a > img, .hfiler-list .hfiler-file .hfiler-file-tools .hfiler-file-tools--props > a > img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-right: 8px; }
  .hfiler-list .hfiler-dir.hfiler-dir--empty .hfiler-dir-name .hfiler-dir-name--icon, .hfiler-list .hfiler-file.hfiler-dir--empty .hfiler-dir-name .hfiler-dir-name--icon {
    background-image: url(../images/dir-empty.png); }
