body, html {
  font-size: 14px;
  line-height: 1.57143; }

html {
  color: #212121; }

body, button, input, select, textarea {
  font-family: "Roboto",Microsoft Yahei,Helvetica Neue,Arial,Helvetica, STHeiTi, sans-serif; }

strong, b {
  font-weight: bold;
  color: #757575; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto",Microsoft Yahei,Helvetica Neue,Arial,Helvetica, STHeiTi, sans-serif;
  font-weight: 100;
  margin: 0 0 10px; }

.wd-type-spacing {
  margin: 10px 0; }

.wd-type-secondary {
  color: #757575; }

a {
  font-size: 14px;
  color: #448AFF;
  text-decoration: none; }
  a:hover {
    color: #0288D1;
    text-decoration: underline; }

h6, .wd-h6 {
  font-size: 12px; }
  h6 small, h6 .wd-small, .wd-h6 small, .wd-h6 .wd-small {
    font-size: 65%; }

h5, .wd-h5 {
  font-size: 14px; }
  h5 small, h5 .wd-small, .wd-h5 small, .wd-h5 .wd-small {
    font-size: 65%; }

h4, .wd-h4 {
  font-size: 16px; }
  h4 small, h4 .wd-small, .wd-h4 small, .wd-h4 .wd-small {
    font-size: 65%; }

h3, .wd-h3 {
  font-size: 18px; }
  h3 small, h3 .wd-small, .wd-h3 small, .wd-h3 .wd-small {
    font-size: 65%; }

h2, .wd-h2 {
  font-size: 20px; }
  h2 small, h2 .wd-small, .wd-h2 small, .wd-h2 .wd-small {
    font-size: 65%; }

h1, .wd-h1 {
  font-size: 22px; }
  h1 small, h1 .wd-small, .wd-h1 small, .wd-h1 .wd-small {
    font-size: 65%; }
