.wd-nav {
  width: 100%;
  min-height: 45px;
  background-color: #fff;
  zoom: 1; }
  .wd-nav.wd-nav--vertical > li {
    float: none; }
  .wd-nav.wd-nav--right {
    width: auto;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: right; }
  .wd-nav:before, .wd-nav:after {
    content: "";
    display: table; }
  .wd-nav:after {
    clear: both; }
  .wd-nav > li {
    position: relative;
    float: left; }
    .wd-nav > li > a {
      display: block;
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      text-align: center;
      color: #333;
      cursor: pointer; }
      .wd-nav > li > a:hover {
        text-decoration: none; }
    .wd-nav > li .wd-bubble {
      margin-top: -1px;
      right: 0;
      border: 1px solid #dadada;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .wd-nav > li .wd-bubble-mass {
      top: 0; }
      .wd-nav > li .wd-bubble-mass .wd-bubble-mass-bar {
        text-align: center; }
  .wd-nav .wd-nav-drown > a {
    position: relative;
    z-index: 999;
    padding: 0 19px;
    line-height: 43px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    border-bottom: 2px solid #fff \9; }
    .wd-nav .wd-nav-drown > a:hover {
      background-color: transparent;
      color: #333; }
