.wd-table {
  width: 100%; }
  .wd-table > thead > tr {
    border-bottom: 1px solid #DADADA; }
    .wd-table > thead > tr th {
      text-align: left;
      font-weight: bold; }
  .wd-table > tbody tr {
    border-bottom: 1px solid #DADADA; }
  .wd-table thead > tr > th, .wd-table tbody > tr > td {
    position: relative;
    padding: 13px 8px;
    line-height: 1.571; }
  .wd-table.wd-table--striped > tbody tr:nth-of-type(odd) {
    background-color: #F2F2F2; }
  .wd-table.wd-table--bordered thead > tr td, .wd-table.wd-table--bordered thead > tr th, .wd-table.wd-table--bordered tbody > tr td, .wd-table.wd-table--bordered tbody > tr th {
    border: 1px solid #DADADA; }
  .wd-table.wd-table--hover tbody tr:hover {
    background-color: #F2F2F2; }
