.wd-bubble {
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd \9;
  z-index: 99;
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .wd-bubble > .wd-dropdown {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }

.wd-bubble--down .wd-triangle-group {
  bottom: -12px;
  margin-left: -12px;
  left: 50%; }

.wd-bubble--up .wd-triangle-group {
  top: -12px;
  margin-left: -12px;
  left: 50%; }

.wd-bubble-title {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #666; }
  .wd-bubble-title > h5, .wd-bubble-title p, .wd-bubble-title .wd-h5 {
    margin-bottom: 5px; }
  .wd-bubble-title > p {
    font-size: 12px; }
    .wd-bubble-title > p > span {
      font-size: 12px; }
  .wd-bubble-title > p:last-child {
    margin-bottom: 0; }

.wd-bubble-bar {
  margin-top: 5px;
  border-top: 1px solid #ddd; }
  .wd-bubble-bar .wd-dropdown {
    position: relative;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .wd-bubble-bar .wd-dropdown > li > a {
      padding: 5px 10px;
      color: #666;
      font-size: 12px; }
      .wd-bubble-bar .wd-dropdown > li > a:hover {
        color: #fff; }

.wd-bubble-mass {
  position: absolute;
  display: block;
  padding: 10px 0;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #ddd \9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.wd-bubble-mass-title {
  text-align: center;
  margin-top: -10px; }

.wd-bubble-mass-bar > li > a {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.571;
  color: #333;
  white-space: nowrap;
  cursor: pointer; }
  .wd-bubble-mass-bar > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #387ef5; }
