.wd-badge {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 1px 7px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px; }

.wd-badge--default {
  background-color: #ccc; }

.wd-badge--positive {
  background-color: #0c63ee; }

.wd-badge--red {
  background-color: #e42012; }

.wd-badge--orange {
  background-color: #fa9915; }

.wd-badge--green {
  background-color: #28a54c; }
