.wd-dropdown {
  position: absolute;
  min-width: 160px;
  padding: 5px 0;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd \9;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .wd-dropdown > li > a {
    display: block;
    padding: 4px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.571;
    color: #333;
    white-space: nowrap; }
    .wd-dropdown > li > a:hover {
      color: #fff;
      text-decoration: none;
      background-color: #387ef5; }
  .wd-dropdown > li > .wd-triangle-group {
    top: -12px;
    left: 50%;
    margin-left: -12px; }
