.wd-panel {
  height: 56px;
  background-color: #FFF;
  zoom: 1; }
  .wd-panel:before, .wd-panel:after {
    content: "";
    display: table; }
  .wd-panel:after {
    clear: both; }
  .wd-panel h1, .wd-panel h2, .wd-panel h3, .wd-panel h4, .wd-panel h5, .wd-panel h6 {
    display: inline-block;
    *display: inline;
    line-height: 56px;
    margin: 0; }
