.wd-badge {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 18px;
  padding: 1px 7px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px; }

.wd-badge--default {
  background-color: #CCC; }

.wd-badge--positive {
  background-color: #9C27B0; }

.wd-badge--red {
  background-color: #F44336; }

.wd-badge--orange {
  background-color: #FF9800; }

.wd-badge--green {
  background-color: #26a69a; }

.wd-badge--blue {
  background-color: #2196F3; }
