.wd-utils-text--left {
  text-align: left; }

.wd-utils-text--right {
  text-align: right; }

.wd-utils-text--center {
  text-align: center; }

.wd-utils-text--justify {
  text-align: justify; }

.wd-utils-text--lowercase {
  text-transform: lowercase; }

.wd-utils-text--uppercase {
  text-transform: uppercase; }

.wd-utils-text--capitalize {
  text-transform: capitalize; }

.wd-utils-clear {
  zoom: 1; }
  .wd-utils-clear:before, .wd-utils-clear:after {
    content: "";
    display: table; }
  .wd-utils-clear:after {
    clear: both; }

.wd-triangle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 0;
  height: 0;
  margin-top: -2px;
  line-height: 1.571;
  vertical-align: middle;
  border-top: 5px solid;
  border-top: 5px solid\9;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent; }

.wd-triangle-group {
  position: absolute;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 0;
  height: 0;
  line-height: 1.571;
  vertical-align: middle;
  border-top: 12px solid #ddd;
  border-right: 12px dashed transparent;
  border-left: 12px dashed transparent; }
  .wd-triangle-group .wd-triangle {
    position: absolute;
    top: -11px;
    left: -12px;
    border-top: 11px solid #fff;
    border-right: 12px dashed transparent;
    border-left: 12px dashed transparent; }
  .wd-triangle-group.wd-triangle-group--upward {
    border-top: none;
    border-bottom: 12px solid #ddd;
    border-right: 12px dashed transparent;
    border-left: 12px dashed transparent; }
    .wd-triangle-group.wd-triangle-group--upward .wd-triangle {
      top: 4px;
      left: -12px;
      border-top: none;
      border-bottom: 11px solid #fff; }

.wd-utils-bs {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12); }

.wd-utils-bs--deep {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.wd-utils-bs--hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.wd-utils-left {
  float: left; }

.wd-utils-right {
  float: right; }

.wd-utils-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wd-utils-txt--primary {
  color: #212121; }

.wd-utils-txt--secondary {
  color: #757575; }

.wd-utils-txt--tip {
  color: #bdbdbd; }
