.wd-text-left {
  text-align: left; }

.wd-text-right {
  text-align: right; }

.wd-text-center {
  text-align: center; }

.wd-text-justify {
  text-align: justify; }

.wd-text--lowercase {
  text-transform: lowercase; }

.wd-text--uppercase {
  text-transform: uppercase; }

.wd-text--capitalize {
  text-transform: capitalize; }

.wd-clear {
  zoom: 1; }
  .wd-clear:before, .wd-clear:after {
    content: "";
    display: table; }
  .wd-clear:after {
    clear: both; }

.wd-left {
  float: left; }

.wd-right {
  float: right; }

.wd-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wd-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-top: -2px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-top: 4px solid\9;
  border-right: 5px dashed transparent;
  border-left: 5px dashed transparent; }
