.wd-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.571;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .wd-button:hover {
    text-decoration: none; }
  .wd-button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2); }
  .wd-button.wd-button--block {
    display: block; }
  .wd-button.wd-button--hack-icon {
    *height: 22px; }
    .wd-button.wd-button--hack-icon .wd-triangle {
      *margin-top: 2px; }

.wd-button-icon {
  margin-left: 4px;
  margin-right: 4px; }

.wd-button--tiny {
  font-size: 10px;
  padding: 1px 4px; }

.wd-button--sm {
  font-size: 12px;
  padding: 3px 6px; }

.wd-button--lg {
  font-size: 16px;
  padding: 8px 12px; }

.wd-button--jumbo {
  font-size: 18px;
  padding: 10px 14px; }

.wd-button--default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .wd-button--default:hover {
    color: #333;
    background-color: whitesmoke;
    border-color: #bdbdbd; }
  .wd-button--default:active {
    background-color: #ebebeb;
    border-color: #b3b3b3; }

.wd-button--orange {
  color: #FFF;
  background-color: #fa9915;
  border-color: #fa9915; }
  .wd-button--orange:hover {
    color: #FFF;
    background-color: #f59005;
    border-color: #eb8a05; }
  .wd-button--orange:active {
    background-color: #e18405;
    border-color: #d77e05; }

.wd-button--red {
  color: #FFF;
  background-color: #ef473a;
  border-color: #e42012; }
  .wd-button--red:hover {
    color: #FFF;
    background-color: #ed3527;
    border-color: #c81c10; }
  .wd-button--red:active {
    background-color: #ec2414;
    border-color: #b5190e; }

.wd-button--green {
  color: #FFF;
  background-color: #33cd5f;
  border-color: #28a54c; }
  .wd-button--green:hover {
    color: #FFF;
    background-color: #2ebd57;
    border-color: #228c41; }
  .wd-button--green:active {
    background-color: #2aad50;
    border-color: #1e7c39; }

.wd-button--positive {
  color: #FFF;
  background-color: #387ef5;
  border-color: #0c63ee; }
  .wd-button--positive:hover {
    color: #FFF;
    background-color: #2571f4;
    border-color: #0b57d1; }
  .wd-button--positive:active {
    background-color: #1165f3;
    border-color: #0a4fbd; }

.wd-button-group {
  position: relative;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  zoom: 1; }
  .wd-button-group:before, .wd-button-group:after {
    content: "";
    display: table; }
  .wd-button-group:after {
    clear: both; }
  .wd-button-group .wd-button {
    float: left;
    border-radius: 0;
    border-right: none; }
    .wd-button-group .wd-button:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .wd-button-group .wd-button:last-child {
      border-right: 1px solid #ccc;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
    .wd-button-group .wd-button.hack-last-right-border {
      border-right: 1px solid #ccc \9; }

.wd-button-group.wd-button--tiny {
  padding: 0; }
  .wd-button-group.wd-button--tiny .wd-button {
    font-size: 10px;
    padding: 1px 4px; }

.wd-button-group.wd-button--sm {
  padding: 0; }
  .wd-button-group.wd-button--sm .wd-button {
    font-size: 12px;
    padding: 3px 6px; }

.wd-button-group.wd-button--lg {
  padding: 0; }
  .wd-button-group.wd-button--lg .wd-button {
    font-size: 16px;
    padding: 8px 12px; }

.wd-button-group.wd-button--jumbo {
  padding: 0; }
  .wd-button-group.wd-button--jumbo .wd-button {
    font-size: 18px;
    padding: 10px 14px; }

.wd-button-group.wd-button--positive {
  background-color: transparent; }
  .wd-button-group.wd-button--positive .wd-button {
    color: #FFF;
    background-color: #387ef5;
    border-color: #0c63ee; }
    .wd-button-group.wd-button--positive .wd-button:hover {
      color: #FFF;
      background-color: #2571f4;
      border-color: #0b57d1; }
    .wd-button-group.wd-button--positive .wd-button:active {
      background-color: #1165f3;
      border-color: #0a4fbd; }

.wd-button-group.wd-button--orange {
  background-color: transparent; }
  .wd-button-group.wd-button--orange .wd-button {
    color: #FFF;
    background-color: #fa9915;
    border-color: #fa9915; }
    .wd-button-group.wd-button--orange .wd-button:hover {
      color: #FFF;
      background-color: #f59005;
      border-color: #eb8a05; }
    .wd-button-group.wd-button--orange .wd-button:active {
      background-color: #e18405;
      border-color: #d77e05; }

.wd-button-group.wd-button--red {
  background-color: transparent; }
  .wd-button-group.wd-button--red .wd-button {
    color: #FFF;
    background-color: #ef473a;
    border-color: #e42012; }
    .wd-button-group.wd-button--red .wd-button:hover {
      color: #FFF;
      background-color: #ed3527;
      border-color: #c81c10; }
    .wd-button-group.wd-button--red .wd-button:active {
      background-color: #ec2414;
      border-color: #b5190e; }

.wd-button-group.wd-button--green {
  background-color: transparent; }
  .wd-button-group.wd-button--green .wd-button {
    color: #FFF;
    background-color: #33cd5f;
    border-color: #28a54c; }
    .wd-button-group.wd-button--green .wd-button:hover {
      color: #FFF;
      background-color: #2ebd57;
      border-color: #228c41; }
    .wd-button-group.wd-button--green .wd-button:active {
      background-color: #2aad50;
      border-color: #1e7c39; }
