.wd-button {
  display: inline-block;
  *display: inline;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.571;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .wd-button:hover {
    text-decoration: none; }
  .wd-button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2); }
  .wd-button.wd-button--block {
    display: block; }

.wd-button-text {
  margin-right: 4px; }

.wd-button--tiny {
  font-size: 12px;
  padding: 1px 6px; }

.wd-button--sm {
  font-size: 14px;
  padding: 3px 6px; }

.wd-button--lg {
  font-size: 16px;
  padding: 6px 8px; }

.wd-button--jumbo {
  font-size: 18px;
  padding: 8px 10px; }

.wd-button--default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .wd-button--default:hover {
    color: #333;
    background-color: whitesmoke;
    border-color: #c2c2c2; }
  .wd-button--default:active {
    background-color: #ebebeb;
    border-color: #b8b8b8; }

.wd-button--blue {
  color: #FFF;
  background-color: #162f78;
  border-color: #162f78; }
  .wd-button--blue:hover {
    color: #FFF;
    background-color: #132867;
    border-color: #132867; }
  .wd-button--blue:active {
    background-color: #102156;
    border-color: #102156; }

.wd-button--orange {
  color: #FFF;
  background-color: #fa9915;
  border-color: #fa9915; }
  .wd-button--orange:hover {
    color: #FFF;
    background-color: #f59005;
    border-color: #f59005; }
  .wd-button--orange:active {
    background-color: #e18405;
    border-color: #e18405; }

.wd-button--red {
  color: #FFF;
  background-color: #E54028;
  border-color: #E54028; }
  .wd-button--red:hover {
    color: #FFF;
    background-color: #de341b;
    border-color: #de341b; }
  .wd-button--red:active {
    background-color: #cc2f19;
    border-color: #cc2f19; }

.wd-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1; }
  .wd-button-group:before, .wd-button-group:after {
    content: "";
    display: table; }
  .wd-button-group:after {
    clear: both; }
  .wd-button-group .wd-button {
    float: left;
    border-radius: 0;
    border-right: none; }
    .wd-button-group .wd-button:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .wd-button-group .wd-button:last-child {
      border-right: 1px solid #ccc;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .wd-button-group .wd-button.ie7-last-child {
      border-right: 1px solid #ccc \9; }
