@media screen and (min-width: 300px) and (max-width: 768px) {
  .wd-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd; }
    .wd-table-responsive .wd-table thead > tr td, .wd-table-responsive .wd-table thead > tr th, .wd-table-responsive .wd-table tbody > tr td, .wd-table-responsive .wd-table tbody > tr th {
      border-left: none; }
      .wd-table-responsive .wd-table thead > tr td:last-child, .wd-table-responsive .wd-table thead > tr th:last-child, .wd-table-responsive .wd-table tbody > tr td:last-child, .wd-table-responsive .wd-table tbody > tr th:last-child {
        border-right: none; }
    .wd-table-responsive .wd-table thead > tr > td, .wd-table-responsive .wd-table thead > tr > th, .wd-table-responsive .wd-table tbody > tr > td, .wd-table-responsive .wd-table tbody > tr > th {
      white-space: nowrap; }
  .wd-nav {
    height: auto; }
    .wd-nav > li {
      float: none; }
      .wd-nav > li > a {
        text-align: left; }
      .wd-nav > li .wd-bubble-mass {
        position: relative;
        padding-left: 30px;
        padding-right: 30px; }
        .wd-nav > li .wd-bubble-mass .wd-bubble-mass-bar {
          text-align: left; }
      .wd-nav > li .wd-bubble {
        position: relative; }
        .wd-nav > li .wd-bubble .wd-bubble-title {
          padding-left: 30px;
          padding-right: 30px; }
        .wd-nav > li .wd-bubble .wd-bubble-bar .wd-dropdown > li > a {
          padding-left: 30px;
          padding-right: 30px; }
  .wd-form-group > input {
    width: 100%; }
  .wd-form-group.wd-form-group--inline {
    display: block; }
    .wd-form-group.wd-form-group--inline > input {
      display: block;
      width: 100%; } }
