.wd-bubble {
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  padding: 8px 16px;
  border: 1px solid #ddd \9;
  z-index: 10;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12); }
  .wd-bubble .wd-dropdown {
    position: relative;
    min-width: 100%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 0;
    padding-bottom: 0; }

.wd-bubble-title {
  margin-bottom: 8px;
  text-align: left;
  font-size: 14px;
  color: #212121; }

.wd-bubble-bar {
  border-top: 1px solid #ddd; }
  .wd-bubble-bar .wd-dropdown {
    min-width: 100%;
    position: relative;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 8px;
    padding-bottom: 0; }

.wd-bubble-mass {
  position: absolute;
  display: block;
  padding: 8px 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd \9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .wd-bubble-mass .wd-dropdown {
    min-width: 100%;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }

.wd-bubble-mass-title {
  margin-top: -8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer; }

.wd-bubble-mass-bar .wd-dropdown {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0; }

.wd-bubble .wd-triangle-group--top, .wd-bubble-mass .wd-triangle-group--top {
  top: -24px; }

.wd-bubble .wd-triangle-group--down, .wd-bubble-mass .wd-triangle-group--down {
  bottom: -24px; }

.wd-bubble .wd-triangle-group--left, .wd-bubble-mass .wd-triangle-group--left {
  left: -24px; }

.wd-bubble .wd-triangle-group--right, .wd-bubble-mass .wd-triangle-group--right {
  right: -24px; }
