$menu-paddingTB                                            :                                      8px       !default;
$menu-min-width                                            :                                      120px     !default;
$menu-bg-color                                             :                                      #fff      !default;

$menu-item-paddingLR                                       :                                      $menu-paddingTB * 2   !default;
$menu-item-height                                          :                                      48px      !default;
$menu-item-color                                           :                                      #222      !default;
$menu-item-hover-bg-color                                  :                                      #eee      !default;
$menu-item-divider-color                                   :                                      #E1E1E1   !default;
$menu-item-disabled-color                                  :                                      #bdbdbd   !default;









