@import "../theme/theme.default";

@if $global-flag == true {
  $breadcrumb-item-hover-color                                  :                             $global-primary-bg-color;
}

$breadcrumb-item-color                                          :                             #666      !default;
$breadcrumb-item-hover-color                                    :                             #3f51b5   !default;

$breadcrumb-item-separator-marginTB                             :                             8px       !default;
$breadcrumb-item-separator-color                                :                             #c0ccda   !default;


