$table-bg-color                                               :                               #fff                    !default;
$table-tr-bg-color                                            :                               #f2f2f2                 !default;
$table-tr-bd-color                                            :                               #d0d0d0                 !default;
$table-th-font-size                                           :                               14px                    !default;
$table-th-font-color                                          :                               rgba(0,0,0,.54)         !default;
$table-th-font-color-c                                        :                               #757575                 !default;
$table-td-paddingTB                                           :                               16px                    !default;









