$media-margin-right                                                   :                                                           10px      !default;
$media-min-width                                                      :                                                           64px      !default;
$media-min-height                                                     :                                                           $media-min-width  !default;
$media-padding-bottom                                                 :                                                           8px       !default;
$media-body-font-size                                                 :                                                           14px      !default;






