$wd-dropdown-width                      :                                 160px     !default;
$wd-dropdown-padding                    :                                 5px 0     !default;
$wd-dropdown-bg-color                   :                                 #fff      !default;
$wd-dropdown-bd-radius                  :                                 4px       !default;
$wd-dropdown-shadow                     :                                 0 6px 12px rgba(0,0,0,.175) !default;
$wd-dropdown-insert-padding             :                                 4px 10px  !default;
$wd-dropdown-insert-color               :                                 #333      !default;
$wd-dropdown-insert-hover-color         :                                 #fff      !default;
$wd-dropdown-insert-hover-bgColor       :                                 #387ef5   !default;
