$wd-triangle-bd-color                 :                 #333 !default;
$wd-triangle-bd-size                  :                 4px  !default;

$wd-triangle-group-down               :                 'down', 12px,#ddd,10px,#fff !default;
$wd-triangle-group-top                :                 'top',  12px,#ddd,10px,#fff !default;
$wd-triangle-group-left               :                 'left', 12px,#ddd,10px,#fff !default;
$wd-triangle-group-right              :                 'right',12px,#ddd,10px,#fff !default;