$wd-material-flag                       :                                 true      !default;

$wd-dropdown-width                      :                                 160px     !default;
$wd-dropdown-padding                    :                                 5px       !default;

$wd-dropdown-bg-color                   :                                 #fff      !default;
$wd-dropdown-bd-width                   :                                 1px       !default;
$wd-dropdown-bd-color                   :                                 rgba(0,0,0,.15) !default;
$wd-dropdown-bd-radius                  :                                 2px       !default;

$wd-dropdown-shadow                     :                                 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12) !default;

$wd-dropdown-font-color                 :                                 #333      !default;
$wd-dropdown-hover-font-color           :                                 #fff      !default;
$wd-dropdown-hover-bg-color             :                                 #387ef5   !default;


//$wd-triangle-group-top                  :                                 -12px     !default;
//$wd-triangle-group-left                 :                                 50%       !default;
//$wd-triangle-group-margin-left          :                                 -12px     !default;

@if $wd-material-flag == true {
  @import "var.material";
  $wd-dropdown-font-color               :                                 $wd-material-primary-font-color;
  $wd-dropdown-bd-color                 :                                 $wd-material-divider-color;
  $wd-dropdown-shadow                   :                                 $wd-material-box-shadow;
}