@import "var.material";
$wd-form-input-padding                          :                             4px       !default;
$wd-form-input-font-size                        :                             14px      !default;
$wd-form-input-height                           :                             36px      !default;
$wd-form-input-line-height                      :                             26px      !default;
$wd-form-input-bg-color                         :                             #fff      !default;
$wd-form-input-color                            :                             $wd-material-primary-font-color      !default;
$wd-form-input-bd-color                         :                             #ddd      !default;
$wd-form-input-bd-radius                        :                             2px       !default;
$wd-form-input-focus-bd-color                   :                             #349ff4   !default;
$wd-form-input-group-bg-color                   :                             #132c53   !default;

$wd-form-box-shadow                             :                             inset 0 1px 1px rgba(0,0,0,0.075)   !default;

$wd-input-error-color                           :                             #F44336   !default;
$wd-input-error-font-color                      :                             #F44336   !default;
