$wd-material-flag                                 :                         true  !default;

$wd-media-avatar-margin                           :                         10px  !default;
$wd-media-body-font-size                          :                         12px  !default;
$wd-media-body-font-color                         :                         #333  !default;

@if $wd-material-flag == true {
  @import "var.material";
  $wd-media-body-font-color                       :                                 $wd-material-secondary-font-color;
}