$sweet-screen-pad-medium-max      :                 768px                  !default;


$sweet-screen-phone-min           :                 300px                  !default;
$sweet-screen-phone-max           :                 480px                  !default;

$sweet-screen-pad-min             :                 979px                  !default;
$sweet-screen-pad-max             :                 1024px                 !default;

$sweet-screen-pad-stand-min       :                 481px                  !default;
$sweet-screen-pad-stand-max       :                 979px                  !default;

$sweet-screen-desktop-min         :                 1025px                 !default;

$sweet-screen-lg-max              :                 979px                  !default;