$triangle-bd-size               :                   4px     !default;
$triangle-bd-color              :                   #333    !default;

$triangle-group-size            :                   12px    !default;
$triangle-group-color           :                   #ddd    !default;
$triangle-group-inside-size     :                   10px    !default;
$triangle-group-inside-color    :                   #fff    !default;












