$wd-panel-bd-color                                :                                 #ddd  !default;
$wd-panel-bd-radius                               :                                 2px   !default;
$wd-panel-shadow                                  :                                 0 1px 1px rgba(0,0,0,.05) !default;

$wd-panel-header-height                           :                                 48px  !default;
$wd-panel-header-line-height                      :                                 25px  !default;
$wd-panel-header-padding                          :                                 15px  !default;
$wd-panel-header-bg-color                         :                                 #f5f5f5 !default;
$wd-panel-header-font-color                       :                                 #333  !default;
$wd-panel-header-font-size                        :                                 16px  !default;

$wd-panel-header-menu-padding                     :                                 10px 4px  !default;

$wd-panel-body-bg-color                           :                                 #fff  !default;
$wd-panel-body-padding                            :                                 15px  !default;