$wd-table-border-color          :                             #ddd    !default;
$wd-table-bg-color              :                             #f9f9f9 !default;
$wd-table-padding               :                             8px     !default;