$wd-table-border-color          :                             #DADADA      !default;
$wd-table-bg-color              :                             #F2F2F2      !default;
$wd-table-padding               :                             13px 8px     !default;