$wd-bubble-minwidth                :                         160px     !default;
$wd-bubble-padding                 :                         10px      !default;
$wd-bubble-bd-radius               :                         2px       !default;
$wd-bubble-bg-color                :                         #fff      !default;
$wd-bubble-bd-color                :                         rgba(0,0,0,.15)      !default;
$wd-bubble-shadow                  :                         0 6px 12px rgba(0,0,0,.175)  !default;


$wd-bubble-mass-shadow             :                         0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$wd-bubble-mass-padding            :                         4px 10px  !default;
$wd-bubble-mass-font-color         :                         #333      !default;

$wd-bubble-mass-hover-color        :                         #fff      !default;
$wd-bubble-mass-hover-bg-color     :                         #387ef5   !default;
