$wd-img-border-radius             :                 4px                         !default;
$wd-img-border-padding            :                 $wd-img-border-radius       !default;
$wd-img-bg-color                  :                 #fff    !default;
$wd-img-bd-color                  :                 #ddd    !default;