$wd-media-avatar-margin                           :                         10px  !default;
$wd-media-body-font-size                          :                         12px  !default;
$wd-media-body-font-color                         :                         #333  !default;