$wd-badge-padding                       :                                       1px 7px     !default;
$wd-badge-font-size                     :                                       12px        !default;
$wd-badge-font-color                    :                                       #fff        !default;

$wd-badge-bd-radius                     :                                       2px         !default;