$img-bd-radius              :               4px       !default;
$img-bd-color               :               #e9e9e9   !default;
$img-padding                :               4px       !default;

$img-bg-color               :               #f4f4f4   !default;




