$wd-button-height                :           34px        !default;
$wd-button-padding               :           16px        !default;
$wd-button-font-size             :           14px        !default;
$wd-button-radius                :           2px         !default;
$wd-button-box-shadow            :           0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !default;
$wd-button-hover-box-shadow      :           0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)!default;
$wd-button-active-shadow         :           inset 0 1px 4px rgba(0, 0, 0, 0.2) !default;

$wd-button-white                 :           'default',darken(#FFFFFF,87%),#FFF, #dddddd,$wd-button-hover-box-shadow !default;
$wd-button-orange                :           'orange',#FFF,#FF9800,#FF9800,$wd-button-hover-box-shadow     !default;
$wd-button-red                   :           'red',#FFF,#F44336,#F44336,$wd-button-hover-box-shadow        !default;
$wd-button-positive              :           'positive',#FFF,#9C27B0,#9C27B0,$wd-button-hover-box-shadow   !default;
$wd-button-green                 :           'green',#FFF,#26a69a,#26a69a,$wd-button-hover-box-shadow      !default;
$wd-button-blue                  :           'blue', #FFF,#2196F3,#2196F3, $wd-button-hover-box-shadow      !default;

$wd-button-transition            :            box-shadow .3s cubic-bezier(.4,0,1,1),background-color .3s  cubic-bezier(.4,0,.2,1),border-color .3s cubic-bezier(.4,0,.2,1) !default;