$wd-pagination-margin                                :                                 20px    !default;
$wd-pagination-bd-radius                             :                                 2px     !default;
$wd-pagination-box-shadow                            :                                 0 1px 2px rgba(0,0,0,0.05)     !default;
$wd-pagination-hover-bg-color                        :                                 #f5f5f5     !default;
$wd-pagination-active-bg-color                       :                                 #2196F3     !default;

$wd-pagination-active-color                          :                                 #fff        !default;
$wd-pagination-disabled-color                        :                                 #999        !default;
$wd-pagination-insert-padding                        :                                 5px 12px    !default;
$wd-pagination-insert-bg-color                       :                                 #fff    !default;
$wd-pagination-insert-bd-color                       :                                 #ddd    !default;