$badge-width                          :                   22px                    !default;
$badge-height                         :                   $badge-width            !default;
$badge-paddingLR                      :                   6px                     !default;

$badge-radius                         :                   10px                    !default;

$badge-font-size                      :                   12px                    !default;

$badge-bg-color                       :                   rgba(158,158,158,.2)    !default;
$badge-bg-color-c                     :                   #9E9E9E                 !default;

$badge-accent-bg-color                :                   #ff4081                 !default;
$badge-accent-color                   :                   #fff                    !default;