$chips-height                             :                         32px          !default;
$chips-line-height                        :                         $chips-height !default;
$chips-paddingLR                          :                         12px          !default;
$chips-color                              :                         #666          !default;
$chips-bg-color                           :                         #e4e4e4       !default;
$chips-bd-radius                          :                         16px          !default;

