$wd-chips-height                  :                 32px !default;
$wd-chips-padding                 :                 16px !default;
$wd-chips-bd-radius               :                 16px !default;
$wd-chips-bg-color                :                 #e4e4e4 !default;