$wd-nav-min-height                    :                                   45px    !default;
$wd-nav-padding                       :                                   20px    !default;
$wd-nav-font-color                    :                                   #333    !default;
$wd-nav-bg-color                      :                                   #fff    !default;
$wd-nav-bd-width                      :                                   1px     !default;
$wd-nav-bd-color                      :                                   #ddd    !default;
