@mixin setTextSize() {
  $i: 4;
  $s: 18;
  @while $i > 0 {
    h#{$i},.wd-h#{$i}{
      font-size: $s + px;
      small,.wd-small{
        font-size: 65%;
      }
    }
    $i : $i - 1;
    $s : $s + 6;
  }
  h5,.wd-h5{
    font-size: 14px;
    small,.small{
      font-size: 65%;
    }
  }
  h6,.wd-h6{
    font-size: 12px;
    small,.small{
      font-size: 65%;
    }
  }
  .wd-small{
    font-size: 85%;
  }
}
@mixin clear(){
  .wd-clear{
    zoom: 1;
    &:before,&:after{
      content: "";
      display: table;
    }
    &:after{
      clear: both;
    }
  }
}
@mixin setTextAlign(){
  @each $props in left,right,center,justify{
    .wd-text-#{$props}{
      text-align: $props;
    }
  }
}
@mixin setTextTransform(){
  @each $props in lowercase,uppercase,capitalize{
    .wd-text--#{$props}{
      text-transform: $props;
    }
  }
}
@mixin setButton-theme($name,$color,$bgColor,$bdColor){
  .wd-button--#{$name}{
    color: $color;
    background-color: $bgColor;
    border-color: $bdColor;
    &:hover{
      color: $color;
      background-color: darken($bgColor,4%);//#fafafa;
      border-color: darken($bdColor,6%);    //#ccc;
    }
    &:active{
      background-color: darken($bgColor,8%);//#fafafa;
      border-color: darken($bdColor,10%);//#ccc;
    }
  }
}
@mixin setButtonSize(){
  @each $name,$size,$padding in
                  ('tiny',12px,1px 6px),
                  ('sm',14px,3px 6px),
                  ('lg',16px,6px 10px),
                  ('jumbo',18px,8px 12px) {
    .wd-button--#{$name}{
      font-size: $size;
      padding: $padding;
    }
  }
}
@mixin setGroupButton-theme($name,$color,$bgColor,$bdColor){
  .wd-button-group{
    &.wd-button--#{$name}{
      background-color: transparent;
      .wd-button{
        color: $color;
        background-color: $bgColor;
        border-color: $bdColor;
        &:hover{
          color: $color;
          background-color: darken($bgColor,4%);//#fafafa;
          border-color: darken($bdColor,6%);    //#ccc;
        }
        &:active{
          background-color: darken($bgColor,8%);//#fafafa;
          border-color: darken($bdColor,10%);//#ccc;
        }
      }
    }
  }
}
@mixin setGroupButton(){
  @each $name,$size,$padding in
                  ('tiny',12px,1px 6px),
                  ('sm',14px,3px 6px),
                  ('lg',16px,6px 8px),
                  ('jumbo',18px,8px 10px) {
    .wd-button-group{
      &.wd-button--#{$name}{
        padding: 0;
        .wd-button{
          font-size: $size;
          padding: $padding;
        }
      }
    }
  }
}
@mixin setDrop($name,$color,$bgColor){
  .wd-dropdown--#{$name}{
    li{
      >a{
        &:hover{
          color: $color;
          text-decoration: none;
          background-color: $bgColor;
        }
      }
    }
  }
}
@mixin user-select(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin box-shadow($shadow...){
  box-shadow: $shadow;
}
@mixin pull-float($name){
  @if $name == left{
    .wd-#{$name}{
      float: $name;
    }
  }@else if $name == right{
    .wd-#{$name}{
      float: $name;
    }
  }
}
@mixin center-block(){
  .wd-center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@mixin text-overflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin border-top-radius($props,$radius){
  border-top-#{$props}-radius: $radius;
}
@mixin border-bottom-radius($props,$radius){
  border-bottom-#{$props}-radius: $radius;
}
@mixin border-radius($radius){
  border-radius: $radius;
}
@mixin triangle(){
  .wd-triangle{
    display: inline-block;
    width: 0;
    height: 0;
    //margin-left: 4px;
    margin-top: -2px;
    line-height: 1.571;
    vertical-align: middle;
    border-top: 5px solid;
    border-top: 5px solid\9;
    border-right: 4px dashed transparent;
    border-left: 4px dashed transparent;
  }
}