//设置文字大小
@mixin setTextSize() {
  $font-index: 6;
  $font-size: 12;
  @while $font-index > 0 {
    h#{$font-index},.wd-h#{$font-index}{
      font-size: $font-size + px;
      small,.wd-small{
        font-size: 65%;
      }
    }
    $font-index :  $font-index - 1;
    $font-size  :  $font-size  + 2;
  }
}
//清除浮动
@mixin setClear(){
  .wd-utils-clear{
    zoom: 1;
    &:before,&:after{
      content: "";
      display: table;
    }
    &:after{
      clear: both;
    }
  }
}
//设置文字基本,首要颜色
@mixin setTextColor($p,$s,$t){
  .wd-utils-txt--primary{
    color: $p;
  }
  .wd-utils-txt--secondary{
    color:$s;
  }
  .wd-utils-txt--tip{
    color: $t;
  }
}
//设置文字对齐方式
@mixin setTextAlign(){
  @each $props in left,right,center,justify{
    .wd-utils-text--#{$props}{
      text-align: $props;
    }
  }
}
//设置阴影
@mixin setBoxShadow($val,$val-deep,$val-hover){
  .wd-utils-bs{
    @include box-shadow($val);
  }
  .wd-utils-bs--deep{
    @include box-shadow($val-deep)
  }
  .wd-utils-bs--hover{
    @include box-shadow($val-hover);
  }
}
//设置文字转换
@mixin setTextTransform(){
  @each $props in lowercase,uppercase,capitalize{
    .wd-utils-text--#{$props}{
      text-transform: $props;
    }
  }
}
//设置三角形颜色
@mixin triangleTheme($color){
  .wd-triangle--top {
    border-bottom-color: $color;
  }
  .wd-triangle--bottom {
    border-top-color: $color;
  }
  .wd-triangle--left {
    border-right-color: $color;
  }
  .wd-triangle--right {
    border-left-color: $color;
  }
}
//设置按钮主题
@mixin setButtonTheme($name,$color,$bgColor,$bdColor,$floatingShadow){
  .wd-button--#{$name}{
    color: $color;
    background-color: $bgColor;
    border-color: darken($bdColor,2%);
    &:hover{
      color: $color;
      background-color: lighten($bgColor,4%);//#fafafa;
      border-color: lighten($bdColor,6%);    //#ccc;
    }
    &:active{
      background-color: darken($bgColor,4%);//#fafafa;
      border-color: darken($bdColor,4%);//#ccc;
    }
    &.wd-button-floating{
      &:active{
        color: $color;
        background-color: $bgColor;
        border-color: darken($bdColor,2%);
      }
      &.wd-button{
        &:active{
          box-shadow: $floatingShadow;
        }
      }
    }
    &.wd-button-flat{
      background-color: transparent;
      color: $bgColor;
      &:hover{
        color: $bgColor;
        background-color: transparent;
      }
    }
    @include triangleTheme(#FFFFFF);
  }
  .wd-button--default{
    @include triangleTheme(#333);
  }
}
//设置按钮大小
@mixin setButtonSize(){
  @each $name,$size,$padding in
                  ('tiny',10px,1px 4px),
                  ('sm',12px,3px 6px),
                  ('lg',16px,8px 12px),
                  ('jumbo',18px,10px 14px) {
    .wd-button--#{$name}{
      font-size: $size;
      padding: $padding;
    }
  }
}
//设置组按钮主题
@mixin setGroupButtonTheme($name,$color,$bgColor,$bdColor){
  .wd-button-group{
    &.wd-button--#{$name}{
      background-color: transparent;
      .wd-button{
        color: $color;
        background-color: $bgColor;
        border-left-color: darken($bdColor,4%);
        &:last-child{
          border-right-color: darken($bdColor,4%);
        }
        &:hover{
          color: $color;
          background-color: darken($bgColor,4%);//#fafafa;
          border-color: darken($bdColor,6%);    //#ccc;
        }
        &:active{
          background-color: darken($bgColor,8%);//#fafafa;
          border-color: darken($bdColor,10%);//#ccc;
        }
      }
    }
  }
}
//设置组按钮大小
@mixin setGroupButton(){
  @each $name,$size,$padding in
                  ('tiny',10px,1px 4px),
                  ('sm',12px,3px 6px),
                  ('lg',16px,8px 12px),
                  ('jumbo',18px,10px 14px) {
    .wd-button-group{
      &.wd-button--#{$name}{
        padding: 0;
        .wd-button{
          font-size: $size;
          padding: $padding;
        }
      }
    }
  }
}
//设置下拉主题
@mixin setDropdownTheme($name,$color,$bgColor){
  .wd-dropdown--#{$name}{
    li{
      >a{
        &:hover{
          color: $color;
          text-decoration: none;
          background-color: $bgColor;
        }
      }
    }
  }
}
//设置气泡主题
@mixin setBadgeTheme($name,$bgColor){
  .wd-badge--#{$name}{
    background-color: $bgColor;
  }
}
//设置文字不被选中
@mixin user-select(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//设置阴影
@mixin box-shadow($shadow...){
  box-shadow: $shadow;
}
@mixin setFloat($name){
  @if $name == left{
    .wd-utils-#{$name}{
      float: $name;
    }
  }@else if $name == right{
    .wd-utils-#{$name}{
      float: $name;
    }
  }
}
//设置块状元素居中
@mixin setCenterBlock(){
  .wd-utils-center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
//设置文字省略
@mixin setTextOverflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin border-top-radius($props,$radius){
  border-top-#{$props}-radius: $radius;
}
@mixin border-bottom-radius($props,$radius){
  border-bottom-#{$props}-radius: $radius;
}
@mixin border-radius($radius){
  border-radius: $radius;
}
//css3 过渡
@mixin transition($prop,$time){
  transition: $prop $time;
}
//三角形
@mixin triangle($name,$size,$color){
  @if $name == top{
    .wd-triangle--#{$name}{
      border-right: $size solid transparent;
      border-left : $size solid transparent;
      border-bottom:$size solid $color;
    }
  }
  @if $name == bottom {
    .wd-triangle--#{$name}{
      border-right: $size solid transparent;
      border-left : $size solid transparent;
      border-top  : $size solid $color;
      }
  }
  @if $name == left {
    .wd-triangle--#{$name}{
      border-right  : $size solid $color;
      border-bottom : $size solid transparent;
      border-top    : $size solid transparent;
    }
  }
  @if $name == right {
    .wd-triangle--#{$name}{
      border-left   : $size solid $color;
      border-bottom : $size solid transparent;
      border-top    : $size solid transparent;
    }
  }
}
@mixin triangleGroup($name,$wrapSize,$wrapColor,$insideSize,$insideColor){
  @if $name == down {
    .wd-triangle-group--#{$name}{
      border-width: $wrapSize;
      border-style: solid dashed dashed dashed;
      border-color: $wrapColor transparent transparent transparent;
      .wd-triangle{
        position: absolute;
        top: -$wrapSize;
        left : -$insideSize;
        border-width: $insideSize;
        border-style: solid dashed dashed dashed;
        border-color: $insideColor transparent transparent transparent;
      }
    }
  }
  @if $name == top {
    .wd-triangle-group--#{$name}{
      border-width: $wrapSize;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent $wrapColor transparent;
      .wd-triangle{
        position: absolute;
        bottom: -$wrapSize;
        left : -$insideSize;
        border-width: $insideSize;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $insideColor transparent;
      }
    }
  }
  @if $name == left {
    .wd-triangle-group--#{$name}{
      border-width: $wrapSize;
      border-style: dashed solid dashed dashed;
      border-color: transparent $wrapColor transparent transparent;
      .wd-triangle{
        position: absolute;
        top: -$insideSize;
        left : -($insideSize - 2);
        border-width: $insideSize;
        border-style: dashed solid dashed dashed;
        border-color: transparent $insideColor transparent transparent;
      }
    }
  }
  @if $name == right {
    .wd-triangle-group--#{$name}{
      border-width: $wrapSize;
      border-style: dashed dashed dashed solid;
      border-color: transparent transparent transparent $wrapColor;
      .wd-triangle{
        position: absolute;
        top: -$insideSize;
        right : -($insideSize - 2);
        border-width: $insideSize;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $insideColor;
      }
    }
  }
}