@import "../mixins/mixins",
        "../variables/var.type";

body,html{
  font-size: $wd-type-font-size;
  line-height:$wd-type-line-height;
}
html{
  color: $wd-type-primary-font-color;
}
body, button, input, select, textarea{
  font-family: "Roboto",Microsoft Yahei,Helvetica Neue,Arial,Helvetica, STHeiTi, sans-serif;
}
strong, b {
  font-weight: bold;
  color: $wd-type-secondary-font-color;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Roboto",Microsoft Yahei,Helvetica Neue,Arial,Helvetica, STHeiTi, sans-serif;
  font-weight: 100;
  margin: 0 0 $wd-type-margin-bottom;
}
.wd-type-spacing{
  margin: $wd-type-margin-bottom 0;
}
.wd-type-secondary{
  color: $wd-type-secondary-font-color;
}
a{
  font-size: $wd-type-font-size;
  color: $Wd-type-a-font-color;
  text-decoration: none;
  &:hover{
    color: $Wd-type-a-font-hover-color;
    text-decoration: underline;
  }
}
@include setTextSize();







