extends common/_layout
block title
    title 同学会
block link
    link(rel='stylesheet' href='public/css/loading.css')
block content
    #app
    script(src='/socket.io/socket.io.js')
    script(src='/dist/main.bundle.js')


