.loader {
  width: 200px;
  height: 100px;
  line-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

  color: #13807c;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  opacity: 0.8;
}
.loader .loader-wrap{
  position: relative;
  text-align: center;
}
.loader span.loader-text{
  position: relative;
  top:-5px;
  font-size: 14px;
}
.loader span.loader-span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
  font-size: 32px;
}
.loader span.loader-last {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}
