@import '../namespace/namespace';
@import "../mixins/mixin";

//clear
#{$ns}-utils-clear {
  @include clear();
}

//left
#{$ns}-utils-left {
  float: left;
}

//right
#{$ns}-utils-right {
  float: right;
}

//...
#{$ns}-utils--omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//set block
#{$ns}-utils-block {
  display: block;
  &#{$ns}-utils-block--center {
    margin-left: auto;
    margin-right: auto;
  }
}

//set inline-block
#{$ns}-utils-inline {
  display: inline-block;
}

//set user-select default none!
#{$ns}-utils-select {
  user-select: none;
}

//set max-width
#{$ns}-utils-fit {
  max-width:100%;
}

//set position
#{$ns}-utils-position--relative {
  position: relative;
}

#{$ns}-utils-position--absolute {
  position: absolute;
}

#{$ns}-utils-position--fixed {
  position: fixed;
}

//shadow

#{$ns}-utils-shadow--2dp {
  @include shadow-2dp();
}

#{$ns}-utils-shadow--3dp {
  @include shadow-3dp();
}

#{$ns}-utils-shadow--4dp {
  @include shadow-4dp();
}

#{$ns}-utils-shadow--6dp {
  @include shadow-6dp();
}

#{$ns}-utils-shadow--8dp {
  @include shadow-8dp();
}

#{$ns}-utils-shadow--16dp {
  @include shadow-16dp();
}

#{$ns}-utils-shadow--24dp {
  @include shadow-24dp();
}