@import '../namespace/namespace';
@import '../variables/var.badge';
@import '../mixins/mixin';

#{$ns}-badge {
  display: inline-block;
  min-width: $badge-width;
  min-width: toREM($badge-width);
  height: $badge-height;
  height: toREM($badge-height);
  line-height: $badge-height;
  line-height: toREM($badge-height);
  padding: 0 $badge-paddingLR;
  padding: 0 toREM($badge-paddingLR);
  //ie8+
  @include widthCompatible('min',$badge-width,$badge-paddingLR);
  //@include font-size($badge-font-size);
  font-weight: 600;
  border-radius: $badge-radius;
  border-radius: toREM($badge-radius);
  text-align: center;
  background-color: $badge-bg-color-c;
  background-color: $badge-bg-color;
}
@each $name,$bg-color,$color in ($badge-accent-name,$badge-accent-bg-color,$badge-accent-color),
        ($badge-primary-name,$badge-primary-bg-color,$badge-primary-color),
        ($badge-success-name,$badge-success-bg-color,$badge-success-color),
        ($badge-info-name,$badge-info-bg-color,$badge-info-color),
        ($badge-warning-name,$badge-warning-bg-color,$badge-warning-color){
  #{$ns}-badge--#{$name} {
    background-color: $bg-color;
    color: $color;
  }
}


#{$ns}-badge--dot {
  min-width: $badge-width - 12;
  min-width: toREM($badge-width - 12);
  height: $badge-height - 12;
  height: toREM($badge-height - 12);
  line-height: $badge-height - 12;
  line-height: toREM($badge-height - 12);
  padding: 0 $badge-paddingLR - 3;
  padding: 0 toREM($badge-paddingLR - 3);
}
