@import '../namespace/namespace';
@import '../variables/var.badge';
@import '../mixins/mixin';

#{$ns}-badge {
  display: inline-block;
  min-width: $badge-width;
  min-width: toREM($badge-width);
  height: $badge-height;
  height: toREM($badge-height);
  line-height: $badge-height;
  line-height: toREM($badge-height);
  padding: 0 $badge-paddingLR;
  padding: 0 toREM($badge-paddingLR);
  //ie8+
  @include widthCompatible('min',$badge-width,$badge-paddingLR);
  //@include font-size($badge-font-size);
  font-weight: 600;
  border-radius: $badge-radius;
  border-radius: toREM($badge-radius);
  text-align: center;
  background-color: $badge-bg-color-c;
  background-color: $badge-bg-color;
}
#{$ns}-badge--accent {
  background-color: $badge-accent-bg-color;
  color: $badge-accent-color;
}

#{$ns}-badge--dot {
  min-width: $badge-width - 12;
  min-width: toREM($badge-width - 12);
  height: $badge-height - 12;
  height: toREM($badge-height - 12);
  line-height: $badge-height - 12;
  line-height: toREM($badge-height - 12);
  padding: 0 $badge-paddingLR - 3;
  padding: 0 toREM($badge-paddingLR - 3);
}
