@import "../variables/var.table";

.wd-table {
  width: 100%;
  >thead{
    >tr{
      border-bottom: 1px solid $wd-table-border-color;
      th{
        text-align: left;
        font-weight: bold;
      }
    }
  }
  >tbody{
    tr{
      border-bottom: 1px solid $wd-table-border-color;
    }
  }
  thead > tr > th,tbody > tr >td{
    position: relative;
    padding: $wd-table-padding;
    line-height: 1.571;
  }
  &.wd-table--striped{
    >tbody {
      tr:nth-of-type(odd){
        background-color: $wd-table-bg-color;
      }
    }
  }
  &.wd-table--bordered{
    thead >tr,tbody > tr{
      td,th{
        border: 1px solid $wd-table-border-color;
      }
    }
  }
  &.wd-table--hover{
    tbody{
      tr{
        &:hover{
          background-color: $wd-table-bg-color;
        }
      }
    }
  }
}