@import "../variables/var.media";

.wd-media{
  zoom: 1;
  &:before,&:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
  .wd-media-left{
    float: left;
    margin-right: $wd-media-avatar-margin;
  }
  .wd-media-right{
    float: right;
    margin-left: $wd-media-avatar-margin;
  }
  .wd-media-left,.wd-media-right{
    > img{
      vertical-align: top;
    }
  }
  .wd-media-body{
    overflow: hidden;
    zoom: 1;
    > h4 {
      line-height: 1;
      margin-top: 0;
      margin-bottom: 8px;
      font-weight: 700;
    }
    .wd-button{
      margin: 8px 0;
    }
    .wd-media{
      margin-top: 16px;
    }
  }
}
