@import "../mixins/mixins",
        "../variables/var.button";
.wd-button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: $wd-button-padding;
  margin-bottom: 0;
  font-size: $wd-button-font-size;
  font-weight: 400;
  min-height: $wd-button-height;
  line-height: $wd-button-height;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  //border: none;
  border: 1px solid transparent;
  border-radius: $wd-button-radius;
  @include transition(all ease-out,.2s);
  @include user-select();
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
  &:hover{
    text-decoration: none;
    @include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
  }
  &:active{
    @include box-shadow($wd-button-active-shadow);
  }
  &.wd-button--block{
    display: block;
  }
  //&.wd-button--hack-icon{
  //  *height: 22px;
  //  .wd-triangle{
  //    *margin-top: 2px;
  //  }
  //}
  .wd-badge{
    line-height: 18px;
    margin-left: 4px;
    border-radius: 10px;
  }
}
.wd-button-icon{
  margin-left: 4px;
  margin-right:4px;
}
//@include setButtonSize();
@include setButtonTheme($wd-button-default...);
@include setButtonTheme($wd-button-orange...);
@include setButtonTheme($wd-button-red...);
@include setButtonTheme($wd-button-green...);
@include setButtonTheme($wd-button-positive...);
@include setButtonTheme($wd-button-blue...);

.wd-button-group{
  position: relative;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  zoom: 1;
  border-radius: $wd-button-radius;
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
  &:before,&:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
  .wd-button{
    float: left;
    border-radius: 0;
    box-shadow: none;
    //&:first-child{
    //  @include border-top-radius('left',$wd-button-radius);
    //  @include border-bottom-radius('left',$wd-button-radius);
    //}
    //&:last-child{
    //  border-right: 1px solid #ccc;
    //  @include border-top-radius('right',$wd-button-radius);
    //  @include border-bottom-radius('right',$wd-button-radius);
    //}
    //&.hack-last-right-border{
    //  border-right: 1px solid #ccc\9;
    //}
    &:active{
      @include box-shadow($wd-button-active-shadow);
    }
  }
}
@include setGroupButton();
@include setGroupButton-theme($wd-button-positive...);
@include setGroupButton-theme($wd-button-orange...);
@include setGroupButton-theme($wd-button-red...);
@include setGroupButton-theme($wd-button-green...);




