@import "../mixins/mixins",
        "../variables/var.badge";

.wd-badge{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: $wd-badge-padding;
  font-size: $wd-badge-font-size;

  color: $wd-badge-font-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
}
@include setBadge('default',#ccc);
@include setBadge('positive',#0c63ee);
@include setBadge('red',#e42012);
@include setBadge('orange',#fa9915);
@include setBadge('green',#28a54c);
