@import "../mixins/mixins",
        "../variables/var.type",
        "../variables/var.bubble";

.wd-bubble{
  position: absolute;
  min-width: $wd-bubble-min-width;
  background-color: $wd-bubble-bg-color;

  //border: $wd-bubble-bd-width solid $wd-bubble-bd-color;
  //IE
  border: 1px solid #ddd\9;

  z-index: 99;
  @include border-radius($wd-bubble-bd-radius);
  @include box-shadow($wd-bubble-shadow);
  >.wd-dropdown{
    border: none;
    box-shadow: none;
    position: relative;
  }
}
.wd-bubble--down{
  .wd-triangle-group{
    bottom: -12px;
    margin-left: -12px;
    left: 50%;
  }
}
.wd-bubble--up{
  .wd-triangle-group{
    top: -12px;
    margin-left: -12px;
    left: 50%;
  }
}
.wd-bubble-title{
  padding: $wd-bubble-padding $wd-bubble-padding*2;
  text-align: left;
  font-size: 14px;
  color: $wd-bubble-font-color;
  h5,p,.wd-h5{
    margin-bottom: $wd-bubble-padding;
  }
  >p:last-child{
    margin-bottom: 0;
  }
}
.wd-bubble-bar{
  margin-top: $wd-bubble-padding;
  border-top: 1px solid #ddd;
  .wd-dropdown{
    position: relative;
    border: none;
    box-shadow: none;
    >li{
      >a{
        padding: $wd-bubble-padding $wd-bubble-padding*2;
        color: $wd-bubble-font-color;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
.wd-bubble-mass{
  position: absolute;
  display: block;
  padding: $wd-bubble-padding 0;
  width: 100%;
  z-index: 9;
  background-color: $wd-bubble-bg-color;
  border: 1px solid #ddd\9;
  @include box-shadow($wd-bubble-mass-shadow...);
}
.wd-bubble-mass-title{
  text-align: center;
  margin-top: -$wd-bubble-padding;
}
.wd-bubble-mass-bar{
  >li{
    >a{
      display: block;
      padding: $wd-bubble-mass-padding;
      clear: both;
      font-weight: 400;
      line-height: $wd-type-line-height;
      color: $wd-bubble-mass-font-color;
      white-space: nowrap;
      cursor: pointer;

      &:hover{
        color: $wd-bubble-mass-hover-color;
        text-decoration: none;
        background-color: $wd-bubble-mass-hover-bg-color;
      }
    }
  }
}
