@import "../mixins/mixins",
        "../variables/var.button";
.wd-button{
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 $wd-button-padding + 10 \9;
  padding: 1px $wd-button-padding + 10;
  margin-bottom: 0;
  font-size: $wd-button-font-size;
  font-weight: 400;
  min-height: $wd-button-height;
  line-height: $wd-button-height;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  border: 1px solid transparent\9;
  border-radius: $wd-button-radius;
  will-change: box-shadow;
  @include user-select();
  @include box-shadow($wd-button-box-shadow);
  @include transition($wd-button-transition);
  &:hover{
    text-decoration: none;
    @include box-shadow($wd-button-hover-box-shadow);
  }
  &:active{
    @include box-shadow($wd-button-active-shadow);
  }
  &.wd-button--block{
    width: 100%;
    display: block;
  }
  .wd-badge{
    line-height: 18px;
    margin-left: 4px;
    @include border-radius($wd-button-radius);
  }
  //IE
  .wd-triangle{
    *vertical-align: bottom;
  }
  &.wd-button-hack{
    .wd-triangle{
      vertical-align: middle\9;
    }
  }
  &.wd-button-flat{
    background-color : transparent;
    border: none;
    @include box-shadow(none);
    &:hover{
      @include box-shadow(none);
    }
    &.wd-button-raised{
      &.wd-button{
        &:active{
          @include box-shadow(none);
        }
      }
    }
  }
  input[type='file']{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter:alpha(opacity=0);
  }
  &.wd-button--disabled{
    background-color: #DFDFDF;
    border-color: #DFDFDF;
    box-shadow: none;
    color: #9F9F9F;
    cursor: default;
    &:hover,&:active{
      background-color: #DFDFDF;
      border-color: #DFDFDF;
      box-shadow: none;
      color: #9F9F9F;
    }
  }
}
.wd-button-raised{
  &:hover{
    @include box-shadow($wd-button-box-shadow);
  }
  &.wd-button{
    &:active{
      @include box-shadow($wd-button-hover-box-shadow);
    }
  }
  @include box-shadow($wd-button-box-shadow);
}
.wd-button-floating{
  width: 40px;
  height: 40px;
  line-height: 40px;
  min-height: 40px;
  padding: 0;
  @include border-radius(50%);
  .wd-triangle{
    *margin-top: 18px;
  }
}
.wd-button-floating--large{
  width :       ($wd-button-padding/2)*7;
  height:       ($wd-button-padding/2)*7;
  line-height : ($wd-button-padding/2)*7;
}
.wd-button--icon{
  padding-left: $wd-button-padding*2;
  >i{
    display: block;
    width: 24px;
    height: 24px;

    position: absolute;
    top:50%;
    left: $wd-button-padding/2;
    margin-top: -12px;

    background-position: center center;
    background-repeat: no-repeat;
  }
}
@include setButtonTheme($wd-button-white...);
@include setButtonTheme($wd-button-orange...);
@include setButtonTheme($wd-button-red...);
@include setButtonTheme($wd-button-green...);
@include setButtonTheme($wd-button-positive...);
@include setButtonTheme($wd-button-blue...);

.wd-button-drop{
  position: relative;
  display: inline-block;
  *display: inline;
  .wd-bubble,.wd-bubble-mass{
    top:48px;
    .wd-dropdown{
      top:0;
    }
  }
  .wd-dropdown{
    top: $wd-button-height + 3;
    right: 0;
    z-index: 10;
  }
}
.wd-button-group{
  position: relative;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  zoom: 1;
  border-radius: $wd-button-radius;
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
  &:before,&:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
  .wd-button{
    float: left;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid transparent;
    box-shadow: none;
    &:active{
      @include box-shadow($wd-button-active-shadow);
    }
  }
  >.wd-button-drop{
    display: block;
    float: left;
  }
  &.wd-button-flat{
    border-radius: 0;
    @include box-shadow(none);
    .wd-button{
      background-color : transparent;
      border: none;
      @include box-shadow(none);
      &:hover{
        @include box-shadow(none);
      }
    }
  }
}
@include setGroupButtonTheme($wd-button-white...);
@include setGroupButtonTheme($wd-button-positive...);
@include setGroupButtonTheme($wd-button-orange...);
@include setGroupButtonTheme($wd-button-red...);
@include setGroupButtonTheme($wd-button-green...);
@include setGroupButtonTheme($wd-button-blue...);
