@import "../mixins/mixins",
        "../variables/var.triangle";
.wd-triangle,.wd-triangle-group{
  display: inline-block;
  *display:inline;
  zoom: 1;
  width: 0;
  height: 0;
  vertical-align: middle;
}
.wd-triangle-group{
  position: absolute;
}
@include triangle('bottom',$wd-triangle-bd-size,$wd-triangle-bd-color);
@include triangle('top',   $wd-triangle-bd-size,$wd-triangle-bd-color);
@include triangle('left',  $wd-triangle-bd-size,$wd-triangle-bd-color);
@include triangle('right', $wd-triangle-bd-size,$wd-triangle-bd-color);

@include triangleGroup($wd-triangle-group-down...);
@include triangleGroup($wd-triangle-group-top...);
@include triangleGroup($wd-triangle-group-left...);
@include triangleGroup($wd-triangle-group-right...);

