@import "../mixins/mixins",
        "../variables/var.type",
        "../variables/var.bubble";

.wd-bubble{
  position: absolute;
  min-width: $wd-bubble-min-width;
  background-color: $wd-bubble-bg-color;

  padding: $wd-bubble-padding $wd-bubble-padding*2;
  //border: $wd-bubble-bd-width solid $wd-bubble-bd-color;
  //IE
  border: 1px solid #ddd\9;

  z-index: 10;
  @include border-radius($wd-bubble-bd-radius);
  @include box-shadow($wd-bubble-shadow);
  .wd-dropdown{
    position: relative;
    min-width: 100%;
    border: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}
//.wd-bubble--down{
//  .wd-triangle-group{
//    bottom: -12px;
//    margin-left: -12px;
//    left: 50%;
//  }
//}
//.wd-bubble--up{
//  .wd-triangle-group{
//    top: -12px;
//    margin-left: -12px;
//    left: 50%;
//  }
//}
.wd-bubble-title{
  //padding: $wd-bubble-padding $wd-bubble-padding*2;
  margin-bottom: $wd-bubble-padding;
  text-align: left;
  font-size: $wd-type-font-size;
  color: $wd-bubble-font-color;
}
.wd-bubble-bar{
  //margin-top: $wd-bubble-padding;
  border-top: 1px solid #ddd;
  .wd-dropdown{
    min-width: 100%;
    position: relative;
    border: none;
    box-shadow: none;
    padding-top: $wd-bubble-padding;
    padding-bottom: 0;
  }
}
.wd-bubble-mass{
  position: absolute;
  display: block;
  padding: $wd-bubble-padding 0;
  width: 100%;
  z-index: 10;
  background-color: $wd-bubble-bg-color;
  border: 1px solid #ddd\9;
  @include box-shadow($wd-bubble-mass-shadow...);

  .wd-dropdown{
    min-width: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
    position: relative;
  }
}
.wd-bubble-mass-title{
  margin-top: -$wd-bubble-padding;
  font-size: $wd-type-font-size;
  text-align: center;
  cursor: pointer;
}
.wd-bubble-mass-bar{
  .wd-dropdown{
    position: relative;
    box-shadow: none;
    padding: 0;
  }
}

