@import "../mixins/mixins",
        "../variables/var.form";

textarea,
input[type="text"],
input[type="password"]{
  display: inline-block;
  height: $wd-form-input-height;
  line-height: $wd-form-input-line-height;
  *height: $wd-form-input-height - $wd-form-input-padding*2 - 2;
  *line-height: $wd-form-input-height - $wd-form-input-padding*2 - 2;
  padding: $wd-form-input-padding 6px;

  font-size: $wd-form-input-font-size;
  vertical-align: middle;

  color: $wd-form-input-color;
  background-color: $wd-form-input-bg-color;
  border: 1px solid $wd-form-input-bd-color;
  border-radius: $wd-form-input-bd-radius;
  @include box-shadow($wd-form-box-shadow);
  transition: border linear .2s,box-shadow linear .2s;

  &:focus{
    border-color: $wd-form-input-focus-bd-color;
    outline: 0;
    @include box-shadow($wd-form-box-shadow,0 0 8px lighten($wd-form-input-focus-bd-color,20%));
  }
}
.wd-from-controls{
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border:1px solid darken($wd-form-input-group-bg-color,10%);
  background-color: $wd-form-input-group-bg-color;
  //min-width: 230px;
  //width: 268px;
  font-size: 0;
  input{
    min-width: 180px;
    background-color: $wd-form-input-bg-color;
    border: none;
    border-radius: 0;
  }
  .wd-button{
    color: #FFF;
  }
  button{
    background: transparent;
    *height: 35px;
    *padding: 0;
    &.wd-button--hack-icon{
      *height: 35px;
      *padding: 6px 10px;
    }
  }
  .wd-button-group{
    .wd-button:last-child{
      border-right: none;
      border-left: 1px solid darken($wd-form-input-group-bg-color,10%);
    }
    .wd-button{
      &.hack-last-left-border{
        border-left: 1px solid darken($wd-form-input-group-bg-color,10%);
      }
    }
  }
  .wd-badge{
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -12px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .wd-badge + input{
    padding-left: 55px;
  }
}
.wd-form-group{
  margin-bottom: 20px;
  >label{
    display: inline-block;
    *display: inline;
    zoom: 1;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  >input{
    display: block;
    //width: 100%;
  }
  &.wd-form-group--inline{
    display: inline-block;
    *display: inline;
    zoom: 1;
    >input{
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: auto;
    }
  }
  &.wd-form-group--standard{
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}
.wd-form-fixed{
  *position: relative;
  margin-bottom: 15px;
  zoom: 1;
  &:before,&:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
  .wd-form-fixed-label{
    float: left;
    width: 100px;
    height: 35px;
    line-height: 33px;
    *position: relative;
    *z-index: 9;
    //text-align: right;
    >label{
      display: inline-block;
      *display: inline;
      zoom: 1;
      max-width: 100%;
      padding-right: 20px;
      margin-bottom: 5px;
      font-weight: 700;
    }
  }
  .wd-from-fixed-flux{
    width: 100%;
    *position: absolute;

    padding-left: 100px;
    *padding-left: 0;
    *margin-left: -100px;
  }
}