@import "../mixins/mixins",
        "../variables/var.type",
        "../variables/var.dropdown";



.wd-dropdown{
  position: absolute;
  min-width: $wd-dropdown-width;
  padding: $wd-dropdown-padding;
  text-align: left;
  background-color: $wd-dropdown-bg-color;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border: 1px solid #ddd\9;
  border-radius: $wd-dropdown-bd-radius;
  @include box-shadow($wd-dropdown-shadow);
  >li{
    >a{
      display: block;
      padding: $wd-dropdown-insert-padding;
      clear: both;
      font-weight: 400;
      line-height: $wd-type-line-height;
      color: $wd-dropdown-insert-color;
      white-space: nowrap;

      &:hover{
        color: $wd-dropdown-insert-hover-color;
        text-decoration: none;
        background-color: $wd-dropdown-insert-hover-bgColor;
      }
    }
    >.wd-triangle-group{
      top: -12px;
      left: 50%;
      margin-left: -12px;
    }
  }
}







