@import "../mixins/mixins",
        "../variables/var.badge";

.wd-badge{
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 18px;
  padding: $wd-badge-padding;
  font-size: $wd-badge-font-size;

  color: $wd-badge-font-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
}
@include setBadgeTheme('default',#CCC);
@include setBadgeTheme('positive',#9C27B0);
@include setBadgeTheme('red',#F44336);
@include setBadgeTheme('orange',#FF9800);
@include setBadgeTheme('green',#26a69a);
@include setBadgeTheme('blue',#2196F3);
