@import "../base/wild.type";
.wd-tab{
  min-height: 40px;
  &:after,&:before{
    display: table;
    line-height: 0;
    content: "";
  }
  &:after{
    clear: both;
  }
  &.wd-tab-normal{
    border-bottom: 1px solid #ddd;
    > li {
      float: left;
      margin-bottom: -1px;
      &.active{
        > a{
          color: $wd-type-primary-font-color;
          cursor: default;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
          &:hover{
            color: $wd-type-primary-font-color;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
          }
        }
      }
      > a{
        display: block;
        padding: 0 16px;
        height: 40px;
        line-height: 38px;
        border: 1px solid transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        color: $wd-type-secondary-font-color;
        cursor: pointer;
        &:hover{
          text-decoration: none;
          background-color: #eee;
          border-color: #eee #eee #ddd;
        }
      }
    }
  }
}